html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 32px;
    position: relative;
}

* {
    box-sizing: border-box;
}

button {
    font-size: 1rem;
    background: #1f2426;
    color: white;
    padding: 0.5rem 3rem 0.5rem 3rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #38454b;
}

.container {
    width: 100%;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demo-column {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.center-line {
    width: 4px;
    min-height: 100vh;
    height: 100%;
    background: rgba(255, 0, 0, 0.3);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -1;
}

.centered {
    background: #1f3e81;
    color: #ffffff;
    border-radius: 8px;
    padding: 0.5em 3em 0.5em 3em;
}

.demo {
    transition: max-width 1s ease-out;
    background: rgba(176, 41, 154, 0.075);
}

body.shortened-demos .demo {
    max-width: 36rem;
}

.demo .sibling {
    background: rgba(102, 183, 210, 0.3);
    padding: 4px;
}